  <footer>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-7 col-sm-12">
          <h4>We want to hear from you</h4>
          <p>With your insight, the Council discovers ways to improve the City we all call home. So we're meeting New Yorkers where they are—online and in person. Keep your feedback coming!</p>
          <p>You can reach us via social media, email, paper mail, or at your district office. For issues specific to a neighborhood, it's best to contact the <a href="https://council.nyc.gov/districts"><strong>Council Member</strong></a> representing that community.</p>
          <p>Contact <a href="https://council.nyc.gov/labs/"><strong>Council Labs</strong></a>  about the website.</p>
        </div>
        <div class="col-md-4 offset-md-1 col-sm-12">
          <h4 id="visit-council">Visit the Council</h4>
          <p>We're located at <a href="https://www.google.com/maps/place/New+York+City+Hall/@40.7127744,-74.008253,17z/data=!3m1!4b1!4m2!3m1!1s0x89c258fda88cefb3:0x7f1e88758d210007"><strong>New York City Hall</strong> (map)</a>. Council Members each have an office at <a href="https://www.google.com/maps/place/250+Broadway,+New+York,+NY+10007/@40.7129838,-74.010099,17z/data=!4m7!1m4!3m3!1s0x89c258828f59541d:0x539864ce22092177!2s250+Broadway,+New+York,+NY+10007!3b1!3m1!1s0x89c258828f59541d:0x539864ce22092177"><strong>250 Broadway</strong> (map)</a>, as well as offices in each of their districts.</p>
        </div> -->
      </div>
    </div>
  </footer>
</body>
</html>